# BLOCK USER AGENTS
RewriteEngine on

RewriteCond %{HTTP_USER_AGENT} curl [NC,OR]
RewriteCond %{HTTP_USER_AGENT} python [NC,OR]
RewriteCond %{HTTP_USER_AGENT} weborama [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ZoominfoBot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} python [NC,OR]
RewriteCond %{HTTP_USER_AGENT} zgrab [NC,OR]
RewriteCond %{HTTP_USER_AGENT} wget [NC,OR]
RewriteCond %{HTTP_USER_AGENT} pastebin [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Java [NC,OR]
RewriteCond %{HTTP_USER_AGENT} libfetch [NC,OR]
RewriteCond %{HTTP_USER_AGENT} github [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ltx71 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Nimbostratus [NC,OR]
RewriteCond %{HTTP_USER_AGENT} nmap [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ruby [NC,OR]
RewriteCond %{HTTP_USER_AGENT} kubernetes [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Certificate [NC,OR]
RewriteCond %{HTTP_USER_AGENT} PycURL [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Wordpress [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Corax [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Scrapy [NC,OR]
RewriteCond %{HTTP_USER_AGENT} lua-resty-http [NC,OR]
RewriteCond %{HTTP_USER_AGENT} OgScrper [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ZmEu [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Faraday [NC,OR]
RewriteCond %{HTTP_USER_AGENT} research [NC,OR]
RewriteCond %{HTTP_USER_AGENT} special_archiver [NC,OR]
RewriteCond %{HTTP_USER_AGENT} nmap [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Go-http-client [NC,OR]
RewriteCond %{HTTP_USER_AGENT} masscan [NC,OR]
RewriteCond %{HTTP_USER_AGENT} BrandVerity [NC,OR]
RewriteCond %{HTTP_USER_AGENT} MJ12bot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} LinuxGetURL [NC,OR]
RewriteCond %{HTTP_USER_AGENT} MSIE 6.0 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} MSIE 7.0 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} MSIE 8.0 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Python-urllib [NC,OR]
RewriteCond %{HTTP_USER_AGENT} adbeat [NC]
RewriteCond %{HTTP_USER_AGENT} ^-?$
RewriteRule ^ - [F]